.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 50px;
  font-weight: bolder;
  color: #1775ee;
  margin-bottom: 10px;
}

.desc {
  font-size: 24px;
}

.register-box {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}
.register-input:focus {
  outline: none;
}

.button-register {
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #1775ee;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.button-login {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #42b72a;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.forget {
  text-align: center;
  color: #1775ee;
}

.loader {
  margin: 0px auto;
  margin-top: 20px;
}
